<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="komasin4.finance.upbit.mapper.CandleMapper">
    <select id="selectMinuteCandles" parameterType="map" resultType="komasin4.finance.upbit.model.MinuteCandleModel">
        SELECT * 
        FROM candle
        <if test='candle_time != null'>
	       	<![CDATA[
        WHERE 
        	candle_time <= #{candle_time}
       		]]>
        </if> 
        ORDER BY candle_time DESC
        LIMIT #{limit};
    </select>
</mapper>